[submodule "mbed-iot-devkit-sdk"]
	path = mbed-iot-devkit-sdk
	url = https://github.com/jbobotek/mbed-iot-devkit-sdk
[submodule "mbed-os"]
	path = mbed-os
	url = https://mseng@dev.azure.com/mseng/VSIoT/_git/mbed-os
